@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

html.dark {
  color-scheme: dark;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji";
  background: transparent;
  color: inherit;
}

* {
  box-sizing: border-box;
}

@layer components {
  .text-muted {
    @apply text-neutral-500 dark:text-neutral-400;
  }
  .text-destructive {
    @apply text-red-600 dark:text-red-500;
  }
  .text-destructive-focus {
    @apply text-red-600 focus:text-red-600 dark:text-red-500 dark:focus:text-red-500;
  }
}
